.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-text {
  text-align: center;
}

.partition {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 50px;
}

.expectation,
.reality {
  width: 45%;
  text-align: center;
}
